@import 'vendors/normalize.css'
@import '_variables'
@import 'pages/_pages'
@import 'modules/_modules'
@import 'layout/_layout'

html
	width: 100%
	height: 100%
    font-size: $root-font-size 

body
	font-family: 'Roboto'
	width: 100%
	height: 100%
	overflow: hidden

li
	list-style: none

#loading-screen-overlay
	background-color: #e8efaa
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	
.loading-spinner 
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%, 50%)
    max-width: 100px
